dist: trusty

language: node_js

node_js:
  - "8.9.1"

before_install:
  - npm i -g npm@5
  - npm i -g greenkeeper-lockfile@1

install:
  - npm i

before_script:
  - greenkeeper-lockfile-update

script:
  - npm run lint
  - npm run test

after_script:
  - greenkeeper-lockfile-upload
  - if [ -n "${TRAVIS_TAG}" ]; then npm run github-release; fi
